/*Global Styles*/

p{
  font-family: 'Playfair Display', serif;
}

/*External Links*/
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: darkslategray;
}

a:hover {
    transition: color .75s ease;
    color: navy;
}

/*header styling*/
.header-content {
    text-align: center;
    border-bottom: solid black 1em;
}

/*Search Overview*/
#search-overview{
    text-align: center;
}
.overview{
    display: inline-block;
    margin-right: 2em;
}

#search-bar {
    margin: 2em;
}

/*Main Content*/
#main-container {
    background: linear-gradient(365deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    margin-top: -1.3% ;
}

/*Search Results Container*/
#results-title{
    text-align: center;
    color: white;
    background-color: black;
    padding: .5em;

}
.search-content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 255, 255, .70);
}

#results-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.results {
    list-style-type: none;
    text-align: left;
}

/*Individual Search Results*/
h2#headline-container {
    margin: .5em;
}

.headline {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: .5em
}

#results-item {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: left;
}

#articleSnippet {
    margin: .5em;
    padding: 1em;
}

/*Buttons*/
#button-container{
    position: relative;
    text-align: center;
}

#forward{
    margin: 1.5em;
    padding: .75em;
}

#back{
    margin: 1.5em;
    padding: .75em;
}