.header-content{
    text-align: center;
    border-bottom: solid black .5em;
}

.search-content{
    text-align: center;
}

.results{
    list-style-type: none;
}

#results-item{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    border: solid lightgrey 1px;

}

.headline{
    text-decoration: none;
    border: solid black 1px;
    padding: 1%;
}

#articleSnippet{
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}